<div class="flex justify-content-between">
  <h2>Parts</h2>
  <p-button label="Add Part" (onClick)="showAddModal()"></p-button>
</div>
<p-table [value]="parts">
  <ng-template pTemplate="header">
    <tr>
      <th [hidden]="true">Id</th>
      <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
      <th>Precio/Unidad</th>
      <th>Existencias</th>
      <th>Minimo existencias</th>
      <th>Estado</th>
    </tr>
    <tr>
      <th></th>
      <th><p-columnFilter type="text" field="nombre" >Name</p-columnFilter></th>
      <th></th>
      <th></th>
      <td></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-part>
    <tr>
      <td [hidden]="true">{{part.idPieza}}</td>
      <td>{{part.nombre}}</td>
      <td>{{part.precioUnidad}}</td>
      <td>{{part.existencias}}</td>
      <td>{{part.minimoExistencias}}</td>
      <td>{{part.estado}}</td>
      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="showEditModal(part)">Edit</button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePart(part)">Delete</button>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-add-edit-part [displayAddModal]="displayAddEditModal" (clickClose) = "hideAddModal($event)" (clickAddEdit)="saveUpdatePartoToList($event)" [selectPart]="selectPart"></app-add-edit-part>

<p-confirmDialog></p-confirmDialog>
<p-toast position="bottom-right"></p-toast>
