<p-dialog header="{{modalType}} Parte" [(visible)]="displayAddModal" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false" (onHide)="closeModal()">

  <form [formGroup]="partForm" >
    <div class="field">
      <label class="block" for="name">Nombre</label>
      <input type="text" pInputText id="name" formControlName="name">
      <small class="p-error block" *ngIf="partForm.controls['name'].invalid && partForm.controls['name'].dirty">
        Nombre es requerido!
      </small>
    </div>

    <div class="field">
      <label class="block" for="precioUnidad">Precio Unidad</label>
      <p-inputNumber id="precioUnidad" formControlName="unitPrice"></p-inputNumber>
      <small class="p-error block" *ngIf="partForm.controls['unitPrice'].invalid && partForm.controls['unitPrice'].dirty">
        Precio es requerido!
      </small>
    </div>

    <div class="field">
      <label class="block" for="existencias">Minimo Existencias</label>
      <p-inputNumber id="existencias" formControlName="miniumStock"></p-inputNumber>
      <small class="p-error block" *ngIf="partForm.controls['miniumStock'].invalid && partForm.controls['miniumStock'].dirty">
        Minimo existencias es requerido!
      </small>
    </div>


  </form>

  <ng-template pTemplate="footer">
    <p-button  (click)="closeModal()" label="Cancelar" styleClass="p-button-text"></p-button>

    <p-button (click)="addEdditPart()" label="{{modalType}}" styleClass="p-button-text" [disabled]="partForm.invalid"></p-button>

  </ng-template>

</p-dialog>
