<div class="col flex align-items-center justify-content-center">
<p-card header="Inicio de venta" subheader="Por: David" [style]="{width: '360px'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
    <img alt="Card" src="assets/furniture.jpg">
  </ng-template>
    <div class="field col-12 md:col-4">
          <span class="p-float-label">
              <input type="number" id="inputtext" pInputText>
              <label for="inputtext">Nit</label>
          </span>
    </div>
  <br>
  <br>
  <p-button label="Buscar Cliente" icon="pi pi-search" [style]="{'margin-left':'4em'}" ></p-button>
</p-card>
</div>
